<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit page</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>you are editing your username.</h1>

    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <h3>user id : <%= user.id %>
        </h3><br>
        <textarea name="username">
        <%=user.username %>
    </textarea><br>
        <input type="password" name="password" id="" placeholder="Enter password">
        <h3>email : <%= user.email %>
        </h3>

        <button type="submit">Save</button>
    </form>
</body>

</html>